<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
       value="1" dispenses fewest pieces of money possible.
       value="2" dispenses mostly £20 notes.
    -->
    <add key="DispensingAlgorithm" value="1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>